<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="tableLayout">
<head>
    <title>Все тексты</title>
</head>
<body>
<h1 layout:fragment="header">Все тексты</h1>
<div layout:fragment="content" class="container">
    <div class="pull-right">
        <a href="form.html" th:href="@{/texts/(form)}">Добавить текст</a>
    </div>
    <table data-toggle="table" data-pagination="true" data-page-size="20" data-page-list="[20, 50]"
           class="table table-bordered table-striped">
        <thead>
        <tr>
            <th data-field="text_id" data-sortable="true">ID</th>
            <th data-field="text_topic" data-sortable="true">Название</th>
            <th data-field="text_user_login" data-sortable="true">Загрузил</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${texts.empty}">
            <td colspan="3">Пока ничего нет</td>
        </tr>
        <tr th:each="text : ${texts}">
            <td th:text="${text.id}">1</td>
            <td th:text="${text.topic}">Название текста</td>
            <td><a href="#" th:href="@{'/users/' + ${text.user.id}}"
                   th:text="${text.user.login}"> Login </a></td>
            <td><a href="#" th:href="@{'/texts/' + ${text.id}}">Просмотр</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
