<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Регистрация нового пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 layout:fragment="header">Регистрация нового пользователя</h1>
<div layout:fragment="content" class="container">
    <p th:if="${error}" class="alert alert-error" th:text="${error}"></p>
    <form name="form" th:action="@{/registration}" action="/registration" method="POST">
        <fieldset>
            <input type="text" name="firstName" value="" placeholder="Имя"/>
            <input type="text" name="lastName" value="" placeholder="Фамилия"/>
            <input type="text" name="login" value="" placeholder="Логин"/>
            <input type="password" name="password" placeholder="Пароль"/>
        </fieldset>
        <input type="submit" id="login" value="Зарегистрироваться"
               class="btn btn-primary"/>
    </form>
</div>
</body>
</html>