<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"
          href="../../css/layout.css"/>
</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <a class="brand" href="/">
                СберТех - Java-школа - Словарные карточки</a>
            <ul class="nav">
                <li><a th:href="@{/users}" href="/users">Пользователи</a></li>
                <li><a th:href="@{/texts}" href="/texts">Тексты</a></li>
                <li><a th:href="@{/cards}" href="/cards">Мои слова</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" href="logout">Выход</a></li>
            </ul>
        </div>

    </div>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">Fake content</div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <p class="navbar-text">СберТех | Java-школа | Словарные карточки</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
